@model AruNyilvantartas.Models.AruKeres

@{
    ViewData["Title"] = "Index";
}

<h1>Aru nyilvántartás</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Aru">

    <select asp-for="keresKategoria" asp-items="Model.Kategoria">
        <option value="">Összes</option>
    </select>
      <label for="floatingSelect"> </label>

    Elnevezés: <input asp-for="keresElnevezes" type="text" id="keresElnevezes">
      <label for="floatingSelect"> </label>
       
    <button type="submit" class="btn btn-primary">Keres</button>
</form>

<label for="floatingSelect"> </label>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nyilvantartas[0].Elnevezes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nyilvantartas[0].Kategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nyilvantartas[0].CsomagolasiEgyseg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nyilvantartas[0].DarabSzam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.nyilvantartas)  {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Elnevezes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CsomagolasiEgyseg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DarabSzam)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
